*.iml
.idea
init.php
.DS_Store
.tmp
dist
node_modules
composer.lock
composer.phar
vendor
*.zip
interesting-datatypes.txt
cacert.pem
npm-debug.log
js/
tsconfig.tsbuildinfo

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
