# Apache configuration, used by local development.
# Should be equivalent to .platform/nginx/conf.d/myconf.conf
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule %{REQUEST_FILENAME} !-f
RewriteRule api api/index.php [QSA,L]
</IfModule>

AddType text/css .css
