<div class='main-chart-div' style='position: relative'>
    <div class='area-chart results-label'>
        <div class='pull-left'>{{::vm.chartTitle}}</div>
        <div class='btn-group pull-right' role='group' aria-label='Units' data-toggle='buttons'>
            <label class='btn btn-default' ng-model='vm.selectedUnits' ng-repeat='unitConfig in vm.chartConfig.units' uib-btn-radio='unitConfig.label'
                   ng-change='vm.setUnits({ unitConfig: unitConfig })'>{{::unitConfig.label}}</label>
        </div>
    </div>
    <div class='chart-content' style='padding: 10px'> <!-- todo: some kind of fade in/out of bg while loading -->
        <span us-spinner="{radius:30, width:8, length: 16 }" spinner-key='spinner-{{::vm.spinnerIndex}}'></span>
        <svg ng-show='vm.dataLoaded' id='chart-{{::vm.spinnerIndex}}' class='chart' preserveAspectRatio="none"></svg>
    </div>
</div>
