<div class='container'>
   <h3>About this application</h3>
   We were thinking about moving.  Moving to somewhere very cold.  I thought it
   would be fun to visualize just how much different the weather was in this
   new city from what it is where I currently live.  Thus, this site was born.
   
   <h3>Thanks</h3>
   <p>This site uses the NOAA's <a href='http://www.ncdc.noaa.gov/cdo-web/webservices/v2'>
      Web services</a> to generate its pretty charts.
   <p>The source code for this application <a href='https://github.com/bobbylight/climatediff'>
      lives on GitHub</a>.
      
</div>
