<div class='container'>

   <form ng-submit='updateClimateDiff()' id='cityForm' role='form' class='form-inline'>
      
      <div class='row'>
      
         <span id='city1-span' class='col-md-3 col-md-offset-2 city-info'>
            <label for='city1'>City 1:</label>
            <input type='text' ng-model='city1' class='form-control' placeholder='City name' autofocus
                  typeahead-wait-ms='typeaheadWaitMillis'
                  typeahead="loc for loc in getLocationCompletions($viewValue)" typeahead-loading="loadingLocations1">
         </span>
         
         <span id='city2-span' class='col-md-3 city-info'>
            <label for='city2'>City 2:</label>
            <input type='text' ng-model='city2' class='form-control' placeholder='City name'
                  typeahead-wait-ms='typeaheadWaitMillis'
                  typeahead="loc for loc in getLocationCompletions($viewValue)" typeahead-loading="loadingLocations2">
         </span>
         
         <span id='submit-span' class='col-md-2'>
            <button type='submit' class='form-control btn btn-primary'>Compare!</button>
         </span>
      </div>
      
      <div class='row'>
         
         
      </div>
      
   </form>
   
   <div id='results' ng-show='resultsLoaded'>
<!--         <div ng-bind='resultsLabel'></div>-->
<!--         <svg id='chart' class='chart'></svg>-->
      <cd-bar-chart></cd-bar-chart>
   </div>
   
</div>
