<div class='container'>

    <form ng-submit='vm.updateClimateDiff()' id='cityForm' role='form' class='form-inline'>

        <div class='row'>

         <span id='city1-span' class='col-md-3 col-md-offset-2 city-info'>
            <label for='city1'>City 1:</label>
            <input id='city1' type='text' ng-model='vm.city1' class='form-control' placeholder='City name' autofocus
                   typeahead-wait-ms='vm.typeaheadWaitMillis'
                   uib-typeahead="loc for loc in vm.getLocationCompletions($viewValue)" typeahead-loading="vm.loadingLocations1">
         </span>
         
         <span id='city2-span' class='col-md-3 city-info'>
            <label for='city2'>City 2:</label>
            <input id='city2' type='text' ng-model='vm.city2' class='form-control' placeholder='City name'
                   typeahead-wait-ms='vm.typeaheadWaitMillis'
                   uib-typeahead="loc for loc in vm.getLocationCompletions($viewValue)" typeahead-loading="vm.loadingLocations2">
         </span>
         
         <span id='submit-span' class='col-md-2'>
            <button type='submit' class='form-control btn btn-primary'>Compare!</button>
         </span>
        </div>

        <div class='row'>
            <h1 ng-bind='vm.resultsTitle'></h1>
        </div>

    </form>

    <div id='results' ng-show='vm.showCharts'>
        <cd-chart title='Temperature' spinner-index='1'
                              data='vm.tempData'
                              chart-config='vm.tempChartConfig'
                              set-units='vm.setUnits(units)'
                              mask='vm.maskTempResults'
                              min-prop="'min'" max-prop="'max'"></cd-chart>
        <cd-chart title='Precipitation' spinner-index='2'
                              data='vm.precipData'
                              chart-config='vm.precipChartConfig'
                              set-units='vm.setUnits(units)'
                              mask='vm.maskPrecipResults'
                              max-prop="'precip'"></cd-chart>
    </div>

</div>
