.app-icon-big {
   background-image: url(../img/sun93.svg);
   width: 40px;
   height: 40px;
}

#results {
   margin-top: 3em;
}

/* SVG chart styling */
.chart {
   width: 700px;
   height: 450px;
}

.chart .rect1 {
  fill: steelblue;
}
.chart .rect2 {
  fill: crimson;
}

.axis text {
  fill: black;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

y {
   padding-left: 30px;
}

.bar-chart.results-label {
   font-weight: bolder;
   font-size: x-large;
   padding-bottom: 2em;
}

#results {
   text-align: center;
}

/* Area chart stuff */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.area1 {
  fill: lightsteelblue;
  fill-opacity: 0.3;
  stroke-width: 0;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.point1 {
  fill: steelblue;
}
.area2 {
  fill: lightcoral;
  fill-opacity: 0.3;
  stroke-width: 0;
}
.line2 {
  fill: none;
  stroke: maroon;
  stroke-width: 1.5px;
}
.point2 {
  fill: maroon;
}

/* Legend stuff */
.legend rect {
   fill:white;
   stroke:black;
   opacity:0.8;
}
